@media (max-width: 1000px) {
    #divCard{
        padding-top: 7.5px !important;
        padding-bottom: 7.5px !important;
    }


}

.avatar{
    height: 150px;
    width: 150px;
    border-radius: 25px;
}